Repository tdg5/reqless-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, removestar, safety-production-dependencies-check

black:
  name: black
  language: system
  entry: black
  args:
  - reqless
  - qmore
  - reqless_test

flake8:
  name: flake8
  language: python
  entry: flake8p
  args:
  - reqless
  - qmore
  - reqless_test
  additional_dependencies:
  - darglint
  - dlint
  - flake8-comprehensions
  - flake8-eradicate
  - flake8-spellcheck
  - flake8-typing-imports
  - mccabe
  - pep8-naming

removestar:
  name: removestar
  language: system
  entry: removestar
  args:
  - -i
  - reqless
  - qmore
  - reqless_test

safety-production-dependencies-check:
  name: Safety production dependencies check
  entry: safety
  args:
  - check
  - --policy-file=.safety-policy.yaml
  - --full-report
  - --file
  language: system

Move qmore into the reqless package
  .meta/coverage/report.txt
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  qmore/py.typed
  reqless/qmore/__init__.py
  reqless/qmore/client.py
  reqless/queue_resolvers/qmore_dynamic_mapping_queue_identifiers_transformer.py
  reqless/queue_resolvers/qmore_dynamic_priority_queue_identifiers_transformer.py
  reqless_test/test_qmore_client.py
  reqless_test/test_qmore_dynamic_mapping_queue_identifiers_transformer.py
  reqless_test/test_qmore_dynamic_priority_queue_identifiers_transformer.py
Due: black, flake8, removestar

[skip actions] Update code coverage snapshot
  .meta/coverage/report.txt
Due: none

Update qless-core to enable using an offset when peeking a queues waiting jobs
  reqless/abstract/abstract_queue.py
  reqless/lua/qless-lib.lua
  reqless/lua/qless.lua
  reqless/queue.py
  reqless_test/test_queue.py
  whitelist.txt
Due: black, flake8, removestar

Rename nextq to next_queue
  reqless/abstract/abstract_job.py
  reqless/job.py
  whitelist.txt
Due: black, flake8, removestar

Upgrade black to address vulnerability
  pyproject.toml
  requirements.txt
Due: safety-production-dependencies-check

Use mock from unittest instead of mock package
  pyproject.toml
  reqless_test/test_importer.py
  requirements.txt
Due: black, flake8, removestar, safety-production-dependencies-check

Rename internal redis things to database to be valkey inclusive
  README.md
  forgetful-bench.py
  pyproject.toml
  reqless/__init__.py
  reqless/abstract/abstract_client.py
  reqless/job.py
  reqless/listener.py
  reqless/profile.py
  reqless/qmore/client.py
  reqless/queue_resolvers/qmore_dynamic_mapping_queue_identifiers_transformer.py
  reqless/queue_resolvers/qmore_dynamic_priority_queue_identifiers_transformer.py
  reqless/workers/worker.py
  reqless_test/common.py
  reqless_test/test_job.py
  reqless_test/test_listener.py
  reqless_test/test_qmore_client.py
  reqless_test/test_qmore_dynamic_mapping_queue_identifiers_transformer.py
  reqless_test/test_qmore_dynamic_priority_queue_identifiers_transformer.py
  reqless_test/test_serial.py
Due: black, flake8, removestar

Reorganize some test files
  reqless_test/qmore/test_qmore_client.py
  reqless_test/queue_resolvers/test_qmore_dynamic_mapping_queue_identifiers_transformer.py
  reqless_test/queue_resolvers/test_qmore_dynamic_priority_queue_identifiers_transformer.py
  reqless_test/queue_resolvers/test_transforming_queue_resolver.py
Due: black, flake8, removestar

Rename worker class modules to include worker in the file name
  reqless/workers/__init__.py
  reqless/workers/base_worker.py
  reqless/workers/forking_worker.py
  reqless/workers/gevent_worker.py
  reqless/workers/serial_worker.py
  reqless_test/test_client.py
  reqless_test/workers/test_base_worker.py
  reqless_test/workers/test_forking_worker.py
  reqless_test/workers/test_gevent_worker.py
  reqless_test/workers/test_serial_worker.py
  reqless_test/workers/test_worker_util.py
Due: black, flake8, removestar

Extract signal logic, remove signals from SerialWorker, and add MainWorker
  reqless/workers/base_worker.py
  reqless/workers/forking_worker.py
  reqless/workers/gevent_worker.py
  reqless/workers/main_worker.py
  reqless/workers/serial_worker.py
  reqless/workers/signals.py
  reqless_test/workers/test_forking_worker.py
  reqless_test/workers/test_main_worker.py
  reqless_test/workers/test_serial_worker.py
Due: black, flake8, removestar

Rename Worker.kill to Worker.halt_job_processing
  reqless/workers/base_worker.py
  reqless/workers/gevent_worker.py
  reqless/workers/serial_worker.py
  reqless_test/workers/test_base_worker.py
  reqless_test/workers/test_gevent_worker.py
  reqless_test/workers/test_main_worker.py
  reqless_test/workers/test_serial_worker.py
Due: black, flake8, removestar

Create coverage report and badge as part of make test-with-coverage
  .github/workflows/main-branch.yaml
  .github/workflows/other-branch.yaml
  Makefile
Due: none

Improve behavior of halt_job_processing for SerialWorker and MainWorker
  .meta/coverage/report.txt
  reqless/workers/base_worker.py
  reqless/workers/main_worker.py
  reqless/workers/serial_worker.py
  reqless_test/common.py
  reqless_test/workers/test_base_worker.py
  reqless_test/workers/test_main_worker.py
  reqless_test/workers/test_serial_worker.py
Due: black, flake8, removestar

Expose workers depending on standard python through reqless.workers
  reqless/workers/__init__.py
Due: black, flake8, removestar

Add reference to tdg5/reqless-ui docker container
  README.md
Due: none

Upgrade github-action-pack to v0.0.6
  .github/workflows/main-branch.yaml
Due: none

Upgrade dependencies with vulnerabilities
  requirements.txt
Due: safety-production-dependencies-check

Fix random things
  reqless/__init__.py
  reqless/job.py
Due: black, flake8, removestar

Switch to reqless-core and new reqless-core APIs
  .gitmodules
  .pre-commit-config.yaml
  Makefile
  README.md
  pyproject.toml
  reqless/__init__.py
  reqless/job.py
  reqless/listener.py
  reqless/lua/reqless-lib.lua
  reqless/lua/reqless.lua
  reqless/queue.py
  reqless/workers/base_worker.py
  reqless_test/test_config.py
  reqless_test/test_job.py
  reqless_test/test_listener.py
  reqless_test/test_queue.py
  whitelist.txt
Due: black, flake8, removestar

Fix generation of release notes
  .github/workflows/release.yaml
Due: none

Switch to reqless-core and new reqless-core APIs
  .gitmodules
  .pre-commit-config.yaml
  Makefile
  README.md
  pyproject.toml
  reqless/__init__.py
  reqless/job.py
  reqless/lua/reqless-lib.lua
  reqless/lua/reqless.lua
  reqless/queue.py
  reqless_test/test_config.py
  whitelist.txt
Due: black, flake8, removestar

Update reqless-core to use new failureGroups.counts and jobs.failedByGroup APIs
  reqless/__init__.py
  reqless/lua/reqless.lua
Due: black, flake8, removestar

Upgrade reqless-core
  reqless/job.py
  reqless/lua/reqless-lib.lua
  reqless/lua/reqless.lua
  reqless_test/test_config.py
Due: black, flake8, removestar

Update reqless-core to replace job.priority with job.setPriority
  reqless/job.py
  reqless/lua/reqless.lua
Due: black, flake8, removestar

Update reqless-core to replace job.tag with job.addTag and job.untag with job.removeTag
  reqless/job.py
  reqless/lua/reqless-lib.lua
  reqless/lua/reqless.lua
Due: black, flake8, removestar

Update reqless-core to replace recurringJob tag and untag with addTag and removeTag
  reqless/job.py
  reqless/lua/reqless.lua
Due: black, flake8, removestar

Update reqless-core
  reqless/lua/reqless-lib.lua
  reqless/lua/reqless.lua
  reqless/queue.py
Due: black, flake8, removestar

Upgrade a couple of vulnerable requirements
  requirements.txt
Due: safety-production-dependencies-check

Upgrade reqless-core and throttle.ttl API
  reqless/lua/reqless-lib.lua
  reqless/lua/reqless.lua
  reqless/throttle.py
Due: black, flake8, removestar

Upgrade reqless-core to fix queue.throttle.get
  reqless/lua/reqless.lua
Due: none

Add pytest-watcher dev dependency
  pyproject.toml
  requirements.txt
Due: safety-production-dependencies-check

Upgrade vulnerable dependencies
  requirements.txt
Due: safety-production-dependencies-check

Upgrade reqless-core and make needed API updates
  reqless/__init__.py
  reqless/config.py
  reqless/job.py
  reqless/lua/reqless-lib.lua
  reqless/lua/reqless.lua
  reqless/queue.py
  reqless/throttle.py
  reqless_test/test_client.py
  reqless_test/test_config.py
  reqless_test/test_job.py
Due: black, flake8, removestar

Move QueuePriorityPattern to reqless.models
  pyproject.toml
  reqless/models/__init__.py
  reqless/models/queue_priority_pattern.py
  reqless/qmore/client.py
  reqless/queue_resolvers/qmore_dynamic_priority_queue_identifiers_transformer.py
  reqless_test/qmore/test_qmore_client.py
  reqless_test/queue_resolvers/test_qmore_dynamic_priority_queue_identifiers_transformer.py
Due: black, flake8, removestar

Fix qmore default queue identifier patterns type
  reqless/qmore/client.py
  reqless_test/qmore/test_qmore_client.py
  reqless_test/queue_resolvers/test_qmore_dynamic_mapping_queue_identifiers_transformer.py
Due: black, flake8, removestar

Path conditions:
  black: any of: \.py$, but not: docs|.git|.tox
  flake8: any of: \.py$, but not: docs|.git|.tox
  removestar: any of: \.py$, but not: docs|.git|.tox
  safety-production-dependencies-check: any of: requirements.txt, but not: docs|.git|.tox
